<ion-header>
  <ion-toolbar >
    <ion-title class="background">Connexion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formulaire" (submit)="submitLogin()">
    <ion-item lines="full">
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username" id="username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" id="password"></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Connect</ion-button>
      </ion-col>
    </ion-row>
  </form>
  <!-- <ion-row>
    <ion-col>
      <a [routerLink]="['/forgot-password']" class="small-text">Forgotten password</a>
      <ion-button [routerLink]="['/register']" type="submit" color="danger" expand="block">Register</ion-button>
    </ion-col>
  </ion-row> -->
</ion-content>
