<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" color="tertiary" (click)="addPhoto()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Prendre une photo
  </ion-button>
  <ion-button expand="block" color="primary" (click)="openLibrary()">
    <ion-icon slot="start" name="image"></ion-icon>
    Ouvrir la bibliotheque
  </ion-button>

  <!-- C'est ici que s'afficherala photo -->
  <ion-card>
    <img [src]="base64Image">
  </ion-card>

</ion-content>
