#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.content {
  background-image: url("../../assets/images/bandeau.jpg");
  height: 4em;
  background-repeat: no-repeat;
  width: 100%;
}

.result {
  background-color: #4c8dff;
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.content {
  background-image: url("../../assets/images/bandeau.jpg");
  height: 4em;
  background-repeat: no-repeat;
  width: 100%;
}

.result {
  background-color: #4c8dff;
}

.container {
  max-width: 640px;
  margin: 20px auto;
}

img {
  max-width: 100%;
}

.cropper-view-box,
.cropper-face {
  border-radius: 50%;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

button {
  padding: 10px;
  background-color: lightblue;
}
