<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="content" >
      CFU Counter App v.0.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-header>
    <hr>
    <nav>
      <button [routerLink]="['/']">Home </button><br>
      <button [routerLink]="['/login']">Login </button><br>
      <button [routerLink]="['/register']">Register </button><br>
    </nav>
    <hr>
    <ion-toolbar>
      <ion-title size="large">What do you want to do? </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" color="tertiary" (click)="selectImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Take photo
  </ion-button>
  <ion-button expand="block" color="primary" (click)="openLibrary()">
    <ion-icon slot="start" name="image"></ion-icon>
    Open library
  </ion-button>

  <!-- C'est ici que s'afficherala photo -->
  <ion-card *ngIf="base64Image!= null" class="result">
    <ion-title> CFU count : 55 </ion-title>
    <img class="result-content" [src]="base64Image">

  </ion-card>

</ion-content>
