<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="content" >
      CFU-Counter v.0.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">
  <ion-header>
    <hr>
    <nav>
      <button [routerLink]="['/']">Accueil </button><br>
      <button [routerLink]="['/login']">Login </button><br>
      <button [routerLink]="['/register']">Register </button><br>
      <button [routerLink]="['/crop-test']">Page de test pour le Crop </button> <br>
    </nav>
    <hr>
    <ion-toolbar>
      <ion-title size="large">Que voulez-vous faire ? </ion-title>
    </ion-toolbar>
  </ion-header>



  <ion-button expand="block" color="tertiary" (click)="takePhoto()">
    <ion-icon slot="start" name="camera"></ion-icon>
    Prendre une photo
  </ion-button>
  <ion-button expand="block" color="primary" (click)="openLibrary()">
    <ion-icon slot="start" name="image"></ion-icon>
    Ouvrir la bibliotheque
  </ion-button>

  <!-- C'est ici que s'afficherala photo -->
  <ion-card *ngIf="base64Image!= null" class="result">

    <img class="result-content" [src]="base64Image">

  </ion-card>

</ion-content>
