<ion-header>
  <ion-toolbar>
    <ion-title>cropTest</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Que voulez-vous faire ? </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-button expand="block" color="tertiary" (click)="pickImage(sourceType)">
  <ion-icon slot="start" name="camera"></ion-icon>
  Prendre une photo
</ion-button>
  <!-- C'est ici que s'afficherala photo -->
<ion-card *ngIf="base64Image!= null" class="result">

  <img class="result-content" [src]="base64Image">

</ion-card>
</ion-content>
<ion-content>
  <ion-button expand="block" color="tertiary" (click)="cropImage(fileUrl)">
    <ion-icon slot="start" name="camera"></ion-icon>
    test cropping
  </ion-button>
  <!-- C'est ici que s'afficherala photo -->
  <ion-card *ngIf="fileUrl!= null" class="result">

    <img class="result-content" [src]="fileUrl">

  </ion-card>
</ion-content>
