<ion-header>
  <ion-toolbar>
    <ion-title>Page de cropping -- PAGE DE TEST -- </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header>
    <ion-toolbar>
      <ion-title size="large">Que voulez-vous faire ? </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button expand="block" color="tertiary" (click)="selectImage()">
    <ion-icon slot="start" name="camera"></ion-icon>
    select image
  </ion-button>
  <!-- C'est ici que s'afficherala photo -->
  <ion-card *ngIf="croppedImagepath!= null" class="result">

    <img class="result-content" [src]="croppedImagepath">

  </ion-card>
</ion-content>
